html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#navbar {
    background-color: maroon;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: fixed;
    width: 100%;
}
.navbar-links{
    display: flex;
    height: 100%;
    margin-right: 20px;
}
#navbar a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    
}
#navbar img {
    height: 60px;
    width: auto;
    margin: 3px;
    border: 1px solid aliceblue;
    border-radius: 50%;
}
a:hover {
    background-color: aqua;
    color: maroon;
}
.welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f0f02;
    background-image: url(https://github.com/pkwandera1/images/blob/main/pics/ryan-moreno-w1_4YH5IhDg-unsplash.jpg?raw=true);
    background-attachment: fixed;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.project-tile {
    width: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
  
  
}
img {
    width: 400px;
}
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    padding-bottom: 60px;
    
}
figcaption {
    font-size: 24px;
    color: white;
    background-color: rgb(3, 20, 66);
    width: 400px;
    padding: 15px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
button {
    font-size: 24px;
    padding: 5px;
    border-radius: 7%;
    border: none;
}
#projects p {
    font-size: 54px;
    margin-bottom: -8px;
    text-align: center;

}
.welcome p {
    font-size: 54px;
    color: aliceblue;
    margin-top: 7px;
}
.welcome h1 {
    font-size: 76px;
    color: aliceblue;
    margin-bottom: 0;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 75%;               
    background-color:#0f0f02;
    height: 1px;
    margin-top: -2px;
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact h1 {
    font-size: 72px;
    margin-bottom: 0;
    padding: 0 250px;
}
#contact p {
    font-size: 24px;
    font-style: italic;
}
.smedia {
    font-size: 36px;
    padding: 60px 0;
}
.smedia a {
    padding: 0 20px;
}
footer {
    background-color: rgb(3, 20, 66);
    padding: 0;
    position: relative;
    bottom: 0;
}
footer p {
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
span {
    padding-left: 350px;
}
p a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}
button:hover {
    background-color: maroon;
    color: aliceblue;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .smedia {
        display: flex;
        flex-direction: column;
  }
  .welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0f0f02;
}
}